


html, body {
    padding: 0;
    margin: 0;
}


body{
        /*background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.86'%3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        

}

#quiz {
    background-image:  url('../img/pokemon4.jpg');
    background-position: center;
    background-size: 250%;
    width: 30rem;
    padding: 1rem;
    margin-left: 4rem;
    border-image: auto;
    text-align: center;
    border-radius: 25px;
    box-shadow: 8px 12px 21px 2px rgba(0, 0, 0, 0.70)
    
    

}



#titulo {
    font-family: 'Fredoka One', cursive;
    text-overflow: clip;
    text-decoration-color:black;
    text-transform: uppercase;
    background-color: #e4e7e4;
    color:rgb(77, 40, 112);
    text-decoration-line: none;
    text-shadow: 3px 3px 0 black;
    font-size: 3.2rem;
    text-align: center;
    padding: 2px 0;
    
}

h3 {
    font-family: Arial;
    text-overflow: clip;
    font-weight: 700;
}
    



#question {
    font-size: 1.7rem;
    font-family: Arial;
    text-shadow: 1px 1px 0 black;
    color: rgb(170, 49, 2);
    text-shadow: #000000;
    
}

.button {
    background-color: #37d8a2;
    width: 250px;
    font-size: 20px;
    border-radius: .5rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
    box-shadow: 8px 12px 21px 2px rgba(0, 0, 0, 0.80);
    overflow: hidden;
    border: 2px solid #28e4cb;
    transition: all 500ms ease;
    margin-bottom: 20px;
    z-index: 0;
    font-weight: 700;
    


}

.button:hover {
    cursor: pointer;
    background: #068d4a;
    stroke-width:4;
    stroke-dasharray:196,543;
    stroke-dashoffset:437   

}


#progress {

    font-size: 20px;
    font-family: Arial;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #000000;



}

#pokeball {
    display: flex;
    border-radius: 50px;
    text-align: center;
    
    position: absolute; top: 85%;
    top: 600px;
    right: 1300px;
    


}

#reinicio {
    width: 120px;
    height: 120px;
    background-image: url('https://clipground.com/images/pokebola-png-6.png');
    transform: rotate(-30deg);
    background-repeat: no-repeat;
    background-size: 190px 190px;
    background-position: center;
    border-radius: 150px;
    border-color: #ffff;
    position: relative; top:0%;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;

    
    

}

#reinicio:hover {
    cursor: pointer;
    background-color: #afb4af;
    opacity: 10px;
    stroke-width:4;
    stroke-dasharray:196,543;
    stroke-dashoffset:437; 
    overflow: hidden;
    
    transition: all 500ms ease;
    margin-bottom: 20px;
    z-index: 0;
    
}



#p {
    position: relative;
    color: #944ec7;
    transform: rotate(0deg);
    top: 200px;
    right: 50px;
    left: -900px;
    text-size-adjust: 30rem;
    font-family: 'Rowdies', cursive;
}


.pie-de-pagina {
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: #240b36;
    margin-bottom: -26rem;
    bottom: 0;
    border-top: 7px solid #000;
    padding: 10px -5px;
    clear: both;
    overflow: visible;
    font-family: 'Open Sans', sans-serif;
    
}

.pie-de-pagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-de-pagina .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: felx;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina .grupo1 .box figure img {
    width: 250px;
    bottom: 10px;
}

.pie-de-pagina .grupo1 .box h2 {
    color: #e4e7e4;
    font-size: 32px;
    margin-bottom: 25px; 

}

.pie-de-pagina .grupo1 .box p {
    color: #e4e7e4;
    margin-bottom: 10px;
}

.pie-de-pagina .grupo1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #e4e7e4;
    margin-right: 10px; 
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-de-pagina .grupo1 .red-social a:hover {
    color: #068d4a;
}


.pie-de-pagina .grupo2 {
    background-color: #11273d;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-de-pagina .grupo2 small {
    font-size: 15px;
}






/****** RESPONSIVE ******/

@media screen and (max-width: 1000px) {
    #quiz {
        width: 50%;
        height: 98%;
        margin-bottom: 2rem;
        margin-top: 4rem;
        margin-bottom: 2rem;
        margin-left: 8rem;
    }


    #question {
        width: 90%;
    }

    #reinicio{
        width: 30%;
        height: 7rem;    
        right: 90px;
    
    
    }
    #reinicio:hover {
        height: 7rem;    
        right: 100px;
    
    
    }

    #pokeball{
        width: 39%;
        top: 650px;
        right: 500px;
        display: flex;
        position: fixed;
    }

    #p {
        top: 200px;
        right: 200px;
        left: -650px;
        
    

    }
    .pie-de-pagina {
        width: 400px;
        height: 800px;
        padding: 15px -20px;
        position: absolute;
        margin-bottom: -60rem;
    }

    
    .pie-de-pagina .grupo1 {
        width: 70%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
        text-align: center;
    }

    .pie-de-pagina .grupo1 .box figure img {
        width: 180px;
        
    }

    
.pie-de-pagina .grupo1 .box figure {
    width: 75%;
    display: felx;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina .grupo1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #e4e7e4;
    margin-right: 10px; 
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}


.pie-de-pagina .grupo2 {
    background-color: #11273d;
    padding: 15px 30px;
    text-align: center;
    color: #fff;
}   



    
    
}


@media screen and (max-width: 650px ) {
    #quiz {
        width: 60%;
        height: 89%;
        padding: 2px;
        margin: 5px;
        background-size: 800px;
        background-position: center;
        margin-left: 11rem;
    }

    #question {
        display: flex;
        width: 88%;
        font-size: 18px;
        right: 10px;
        align-items: center;
    }

    #titulo {
        width: 88%;
        height: 10%;
        font-size: 32px;
        align-items: center;
        padding: 9  px;
        left: 40px;

    }

    .hr  {
        width: 85%;
    }

    .hr2 {
        width: 85%;
    }



    #choices {
        width: 65%;
        padding: 20px;
        border-bottom: 20rem;
    }

    #reinicio{
        width: 20%;
        height: 6rem;    
        right: 100px;
    
    
    }
    #reinicio:hover {
        height: 7rem;    
        right: 100px;
    
    
    }

    #pokeball{
        width: 70%;
        top: 670px;
        right: -390px;
        display: flex;
        position: fixed;
        border-radius: 70px;
    }

    #p {
        
        top: 200px;
        right: -390px;
        left: 45px;
        

    }

    #progress {
        font-size: 15px;
        color: #c31432;
        font-family: 'Rowdies', cursive;
        padding-bottom: 30px;
    }



    
}

@media screen and (max-width: 520px) {

    body {
        margin-right: 1rem;
    }
    #quiz {
        height: 80%;
        width: 50%;
        padding: 40px;
        margin-right: 12rem;
        
    }
    #question {
        align-items: center;
        height: 10%;
        flex-direction: column;
        font-size: 15px;
    }

    #titulo {
        width: 80%;
        height: 10%;
        font-size: 30px;
        padding: 1px;
    }

    #choices {
        width: 80%;
        font-size: 6px;
            
        border-bottom: 18rem;
        
        margin-left: -4rem;
        
    }

    .button {
        width: 80%;
        font-size: 15px;
        padding: 15px 25px;
    margin: 20px 80px 20px;
    margin-bottom: 1px;

    font-weight: 1;
    margin-right: 1rem;
    }

    #pokeball{
        display: none;
    }
    
    #p {
        display: none;
    }
}



@media screen and (max-width: 300px ) {

    #quiz {
        height: 80%;
        width: 80%;
        margin-left: 18rem;
    }


    
}
